.DS_Store
.AppleDouble
.LSOverride
._*
.swiftpm/xcode/
.build/
xcuserdata/
*.xcuserstate
*.xcworkspacedata
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
*.o
*.a
*.dylib
.swiftpm/xcode/package.xcworkspace/
Packages/
Package.resolved
*.idea/
*.vscode/
*.sublime-*
*.tmp
*.temp
*.swp
*~
*.md
!README.md
*.log
